# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [191]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

%matplotlib inline

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [192]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("/Users/prsm/Desktop/Fintech/Projects/Mod13/Resources/applicants_data.csv")
)

# Review the DataFrame
applicant_data_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [193]:
# Review the data types associated with the columns
print(applicant_data_df.dtypes)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [194]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)


# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [195]:
# Create a list of categorical variables 
categorical_variables = categorical_cols = [cname for cname in applicant_data_df.columns if applicant_data_df[cname].dtype in ['object', 'category']]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [196]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [197]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_cols])

/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [198]:
# Create a DataFrame with the encoded variables
encoded_df = encoded_df = pd.DataFrame(
    encoded_data, 
    columns = enc.get_feature_names_out(categorical_variables)
)
# Review the DataFrame
encoded_df.head(10)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [199]:
 # Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [200]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis = 1
)
   
# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [201]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
print(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [202]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
print(X)

       STATUS   ASK_AMT  APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  \
0           1      5000                   1.0                   0.0
1           1    108590                   0.0                   0.0
2           1      5000                   0.0                   0.0
3           1      6692                   0.0                   0.0
4           1    142590                   0.0                   0.0
...       ...       ...                   ...                   ...
34294       1      5000                   0.0                   0.0
34295       1      5000                   0.0                   0.0
34296       1      5000                   0.0                   0.0
34297       1      5000                   0.0                   0.0
34298       1  36500179                   0.0                   0.0

       APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  ...  \
0                       0.0                   0.0                  0.0  ...
1                       0.0                   0.0                  0.0  ...
2                       0.0                   0.0                  0.0  ...
3                       0.0                   0.0                  0.0  ...
4                       0.0                   0.0                  0.0  ...
...                     ...                   ...                  ...  ...
34294                   0.0                   0.0                  0.0  ...
34295                   0.0                   0.0                  0.0  ...
34296                   0.0                   0.0                  0.0  ...
34297                   0.0                   0.0                  0.0  ...
34298                   0.0                   0.0                  0.0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                    0.0                     0.0                       0.0
1                    1.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     1.0                       0.0
4                    0.0                     0.0                       1.0
...                  ...                     ...                       ...
34294                0.0                     0.0                       0.0
34295                0.0                     0.0                       0.0
34296                0.0                     0.0                       0.0
34297                0.0                     0.0                       0.0
34298                0.0                     0.0                       0.0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                     0.0               0.0                     0.0
1                     0.0               0.0                     0.0
2                     0.0               0.0                     0.0
3                     0.0               0.0                     0.0
4                     0.0               0.0                     0.0
...                   ...               ...                     ...
34294                 0.0               0.0                     0.0
34295                 0.0               0.0                     0.0
34296                 0.0               0.0                     0.0
34297                 0.0               0.0                     0.0
34298                 0.0               1.0                     0.0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                  0.0                0.0                       1.0
1                  0.0                0.0                       1.0
2                  0.0                0.0                       1.0
3                  0.0                0.0                       1.0
4                  0.0                0.0                       1.0
...                ...                ...                       ...
34294              0.0                0.0                       1.0
34295              0.0                0.0                       1.0
34296              0.0                0.0                       1.0
34297              0.0                0.0                       1.0
34298              0.0                0.0                       1.0

       SPECIAL_CONSIDERATIONS_Y
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
34294                       0.0
34295                       0.0
34296                       0.0
34297                       0.0
34298                       0.0

[34299 rows x 116 columns]

### Step 6: Split the features and target sets into training and testing datasets.

In [203]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [226]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [205]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])
# Review the number of features
number_input_features

116

In [206]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [207]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [208]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [209]:
# Create the Sequential model instance
nn = Sequential()

In [210]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [211]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [212]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation='relu'))

In [213]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_41 (Dense)            (None, 58)                6786

 dense_42 (Dense)            (None, 29)                1711

 dense_43 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [214]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [215]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 841us/step - loss: 1.1699 - accuracy: 0.6813
Epoch 2/50
804/804 [==============================] - 1s 803us/step - loss: 0.8153 - accuracy: 0.7207
Epoch 3/50
804/804 [==============================] - 1s 808us/step - loss: 0.9120 - accuracy: 0.7185
Epoch 4/50
804/804 [==============================] - 1s 819us/step - loss: 0.8555 - accuracy: 0.7144
Epoch 5/50
804/804 [==============================] - 1s 809us/step - loss: 0.9647 - accuracy: 0.7007
Epoch 6/50
804/804 [==============================] - 1s 805us/step - loss: 0.9392 - accuracy: 0.7107
Epoch 7/50
804/804 [==============================] - 1s 807us/step - loss: 1.0382 - accuracy: 0.7109
Epoch 8/50
804/804 [==============================] - 1s 808us/step - loss: 1.0811 - accuracy: 0.7028
Epoch 9/50
804/804 [==============================] - 1s 818us/step - loss: 0.9756 - accuracy: 0.7061
Epoch 10/50
804/804 [==============================] - 1s 816us/step - loss: 0.8846 - accuracy: 0.7168
Epoch 11/50
804/804 [==============================] - 1s 808us/step - loss: 0.8038 - accuracy: 0.7250
Epoch 12/50
804/804 [==============================] - 1s 817us/step - loss: 0.7649 - accuracy: 0.7269
Epoch 13/50
804/804 [==============================] - 1s 934us/step - loss: 0.7724 - accuracy: 0.7261
Epoch 14/50
804/804 [==============================] - 1s 833us/step - loss: 0.8630 - accuracy: 0.7184
Epoch 15/50
804/804 [==============================] - 1s 843us/step - loss: 0.7589 - accuracy: 0.7294
Epoch 16/50
804/804 [==============================] - 1s 840us/step - loss: 0.7605 - accuracy: 0.7188
Epoch 17/50
804/804 [==============================] - 1s 830us/step - loss: 0.7489 - accuracy: 0.7301
Epoch 18/50
804/804 [==============================] - 1s 830us/step - loss: 0.7886 - accuracy: 0.7241
Epoch 19/50
804/804 [==============================] - 1s 829us/step - loss: 0.7772 - accuracy: 0.7279
Epoch 20/50
804/804 [==============================] - 1s 815us/step - loss: 0.7622 - accuracy: 0.7301
Epoch 21/50
804/804 [==============================] - 1s 867us/step - loss: 0.8212 - accuracy: 0.7163
Epoch 22/50
804/804 [==============================] - 1s 823us/step - loss: 0.8414 - accuracy: 0.7148
Epoch 23/50
804/804 [==============================] - 1s 832us/step - loss: 0.7580 - accuracy: 0.7261
Epoch 24/50
804/804 [==============================] - 1s 841us/step - loss: 0.7540 - accuracy: 0.7282
Epoch 25/50
804/804 [==============================] - 1s 853us/step - loss: 0.7605 - accuracy: 0.7265
Epoch 26/50
804/804 [==============================] - 1s 859us/step - loss: 0.7598 - accuracy: 0.7268
Epoch 27/50
804/804 [==============================] - 1s 838us/step - loss: 0.7631 - accuracy: 0.7283
Epoch 28/50
804/804 [==============================] - 1s 858us/step - loss: 0.7411 - accuracy: 0.7268
Epoch 29/50
804/804 [==============================] - 1s 842us/step - loss: 0.7266 - accuracy: 0.7282
Epoch 30/50
804/804 [==============================] - 1s 845us/step - loss: 0.7305 - accuracy: 0.7293
Epoch 31/50
804/804 [==============================] - 1s 850us/step - loss: 0.7236 - accuracy: 0.7309
Epoch 32/50
804/804 [==============================] - 1s 885us/step - loss: 0.7454 - accuracy: 0.7246
Epoch 33/50
804/804 [==============================] - 1s 868us/step - loss: 0.7359 - accuracy: 0.7257
Epoch 34/50
804/804 [==============================] - 1s 862us/step - loss: 0.7506 - accuracy: 0.7229
Epoch 35/50
804/804 [==============================] - 1s 882us/step - loss: 0.7178 - accuracy: 0.7311
Epoch 36/50
804/804 [==============================] - 1s 838us/step - loss: 0.7062 - accuracy: 0.7320
Epoch 37/50
804/804 [==============================] - 1s 849us/step - loss: 0.6855 - accuracy: 0.7280
Epoch 38/50
804/804 [==============================] - 1s 847us/step - loss: 0.6551 - accuracy: 0.7320
Epoch 39/50
804/804 [==============================] - 1s 836us/step - loss: 0.6346 - accuracy: 0.7324
Epoch 40/50
804/804 [==============================] - 1s 848us/step - loss: 0.6396 - accuracy: 0.7325
Epoch 41/50
804/804 [==============================] - 1s 847us/step - loss: 0.6550 - accuracy: 0.7326
Epoch 42/50
804/804 [==============================] - 1s 848us/step - loss: 0.6334 - accuracy: 0.7311
Epoch 43/50
804/804 [==============================] - 1s 854us/step - loss: 0.6251 - accuracy: 0.7337
Epoch 44/50
804/804 [==============================] - 1s 895us/step - loss: 0.6087 - accuracy: 0.7330
Epoch 45/50
804/804 [==============================] - 1s 924us/step - loss: 0.5992 - accuracy: 0.7337
Epoch 46/50
804/804 [==============================] - 1s 855us/step - loss: 0.5973 - accuracy: 0.7323
Epoch 47/50
804/804 [==============================] - 1s 902us/step - loss: 0.5869 - accuracy: 0.7331
Epoch 48/50
804/804 [==============================] - 1s 914us/step - loss: 0.5932 - accuracy: 0.7312
Epoch 49/50
804/804 [==============================] - 1s 875us/step - loss: 0.5863 - accuracy: 0.7301
Epoch 50/50
804/804 [==============================] - 1s 844us/step - loss: 0.5868 - accuracy: 0.7353

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [216]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 658us/step - loss: 7.1791 - accuracy: 0.5292
Loss: 7.17914342880249, Accuracy: 0.5292128324508667

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [217]:
# Set the model's file path
file_path = Path("/Users/prsm/Desktop/Fintech/Projects/Mod13/Resources")

# Export your model to a HDF5 file
nn.save(file_path)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: /Users/prsm/Desktop/Fintech/Projects/Mod13/Resources/assets

INFO:tensorflow:Assets written to: /Users/prsm/Desktop/Fintech/Projects/Mod13/Resources/assets

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [218]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [219]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [220]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 32

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

32

In [221]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [230]:
# Define the model architecture

nn_A1.add(Dense(32, input_shape=(10,), activation='relu'))
nn_A1.add(Dense(16, activation='relu'))
nn_A1.add(Dense(1, activation='sigmoid'))

#Using build() method
nn_A1.build()

# Print the model summary
nn_A1.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_44 (Dense)            (None, 32)                352

 dense_45 (Dense)            (None, 16)                528

 dense_46 (Dense)            (None, 1)                 17

 dense_47 (Dense)            (None, 32)                64

 dense_48 (Dense)            (None, 1)                 33

 dense_49 (Dense)            (None, 32)                64

 dense_50 (Dense)            (None, 16)                528

 dense_51 (Dense)            (None, 1)                 17

 dense_52 (Dense)            (None, 32)                64

 dense_53 (Dense)            (None, 16)                528

 dense_54 (Dense)            (None, 1)                 17

=================================================================
Total params: 2,212
Trainable params: 2,212
Non-trainable params: 0
_________________________________________________________________

In [223]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid")) 

# Check the structure of the model
nn_A1.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_44 (Dense)            (None, 32)                352

 dense_45 (Dense)            (None, 16)                528

 dense_46 (Dense)            (None, 1)                 17

 dense_47 (Dense)            (None, 32)                64

 dense_48 (Dense)            (None, 1)                 33

=================================================================
Total params: 994
Trainable params: 994
Non-trainable params: 0
_________________________________________________________________

In [224]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [227]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

ValueError: in user code:

    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1249, in train_function  *
        return step_function(self, iterator)
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1233, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1222, in run_step  **
        outputs = model.train_step(data)
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1023, in train_step
        y_pred = self(x, training=True)
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/input_spec.py", line 295, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_12" is incompatible with the layer: expected shape=(None, 10), found shape=(None, 116)

#### Alternative Model 2

In [235]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [236]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [237]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 64

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

64

In [238]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [239]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
# Output layer
nn_A2.add(Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn_A2.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_55 (Dense)            (None, 64)                7488

 dense_56 (Dense)            (None, 1)                 65

=================================================================
Total params: 7,553
Trainable params: 7,553
Non-trainable params: 0
_________________________________________________________________

In [240]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer= "adam", metrics=['accuracy'])

In [241]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 763us/step - loss: 0.5834 - accuracy: 0.7188
Epoch 2/50
804/804 [==============================] - 1s 727us/step - loss: 0.5581 - accuracy: 0.7297
Epoch 3/50
804/804 [==============================] - 1s 757us/step - loss: 0.5535 - accuracy: 0.7298
Epoch 4/50
804/804 [==============================] - 1s 738us/step - loss: 0.5513 - accuracy: 0.7304
Epoch 5/50
804/804 [==============================] - 1s 741us/step - loss: 0.5503 - accuracy: 0.7312
Epoch 6/50
804/804 [==============================] - 1s 730us/step - loss: 0.5487 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 1s 738us/step - loss: 0.5485 - accuracy: 0.7319
Epoch 8/50
804/804 [==============================] - 1s 758us/step - loss: 0.5484 - accuracy: 0.7336
Epoch 9/50
804/804 [==============================] - 1s 741us/step - loss: 0.5467 - accuracy: 0.7344
Epoch 10/50
804/804 [==============================] - 1s 765us/step - loss: 0.5467 - accuracy: 0.7330
Epoch 11/50
804/804 [==============================] - 1s 741us/step - loss: 0.5457 - accuracy: 0.7333
Epoch 12/50
804/804 [==============================] - 1s 757us/step - loss: 0.5449 - accuracy: 0.7327
Epoch 13/50
804/804 [==============================] - 1s 724us/step - loss: 0.5456 - accuracy: 0.7343
Epoch 14/50
804/804 [==============================] - 1s 715us/step - loss: 0.5449 - accuracy: 0.7331
Epoch 15/50
804/804 [==============================] - 1s 707us/step - loss: 0.5442 - accuracy: 0.7328
Epoch 16/50
804/804 [==============================] - 1s 724us/step - loss: 0.5436 - accuracy: 0.7339
Epoch 17/50
804/804 [==============================] - 1s 719us/step - loss: 0.5437 - accuracy: 0.7353
Epoch 18/50
804/804 [==============================] - 1s 711us/step - loss: 0.5428 - accuracy: 0.7352
Epoch 19/50
804/804 [==============================] - 1s 714us/step - loss: 0.5422 - accuracy: 0.7350
Epoch 20/50
804/804 [==============================] - 1s 717us/step - loss: 0.5426 - accuracy: 0.7347
Epoch 21/50
804/804 [==============================] - 1s 717us/step - loss: 0.5423 - accuracy: 0.7343
Epoch 22/50
804/804 [==============================] - 1s 712us/step - loss: 0.5426 - accuracy: 0.7346
Epoch 23/50
804/804 [==============================] - 1s 737us/step - loss: 0.5417 - accuracy: 0.7344
Epoch 24/50
804/804 [==============================] - 1s 708us/step - loss: 0.5419 - accuracy: 0.7341
Epoch 25/50
804/804 [==============================] - 1s 758us/step - loss: 0.5413 - accuracy: 0.7345
Epoch 26/50
804/804 [==============================] - 1s 740us/step - loss: 0.5408 - accuracy: 0.7352
Epoch 27/50
804/804 [==============================] - 1s 727us/step - loss: 0.5410 - accuracy: 0.7371
Epoch 28/50
804/804 [==============================] - 1s 731us/step - loss: 0.5414 - accuracy: 0.7354
Epoch 29/50
804/804 [==============================] - 1s 728us/step - loss: 0.5404 - accuracy: 0.7354
Epoch 30/50
804/804 [==============================] - 1s 713us/step - loss: 0.5408 - accuracy: 0.7352
Epoch 31/50
804/804 [==============================] - 1s 734us/step - loss: 0.5407 - accuracy: 0.7357
Epoch 32/50
804/804 [==============================] - 1s 719us/step - loss: 0.5400 - accuracy: 0.7363
Epoch 33/50
804/804 [==============================] - 1s 713us/step - loss: 0.5405 - accuracy: 0.7356
Epoch 34/50
804/804 [==============================] - 1s 720us/step - loss: 0.5399 - accuracy: 0.7363
Epoch 35/50
804/804 [==============================] - 1s 713us/step - loss: 0.5403 - accuracy: 0.7361
Epoch 36/50
804/804 [==============================] - 1s 719us/step - loss: 0.5394 - accuracy: 0.7362
Epoch 37/50
804/804 [==============================] - 1s 721us/step - loss: 0.5396 - accuracy: 0.7371
Epoch 38/50
804/804 [==============================] - 1s 708us/step - loss: 0.5394 - accuracy: 0.7369
Epoch 39/50
804/804 [==============================] - 1s 722us/step - loss: 0.5393 - accuracy: 0.7368
Epoch 40/50
804/804 [==============================] - 1s 719us/step - loss: 0.5393 - accuracy: 0.7362
Epoch 41/50
804/804 [==============================] - 1s 710us/step - loss: 0.5388 - accuracy: 0.7358
Epoch 42/50
804/804 [==============================] - 1s 734us/step - loss: 0.5394 - accuracy: 0.7370
Epoch 43/50
804/804 [==============================] - 1s 795us/step - loss: 0.5394 - accuracy: 0.7370
Epoch 44/50
804/804 [==============================] - 1s 735us/step - loss: 0.5383 - accuracy: 0.7364
Epoch 45/50
804/804 [==============================] - 1s 721us/step - loss: 0.5386 - accuracy: 0.7369
Epoch 46/50
804/804 [==============================] - 1s 727us/step - loss: 0.5387 - accuracy: 0.7364
Epoch 47/50
804/804 [==============================] - 1s 710us/step - loss: 0.5395 - accuracy: 0.7366
Epoch 48/50
804/804 [==============================] - 1s 712us/step - loss: 0.5377 - accuracy: 0.7355
Epoch 49/50
804/804 [==============================] - 1s 713us/step - loss: 0.5378 - accuracy: 0.7368
Epoch 50/50
804/804 [==============================] - 1s 718us/step - loss: 0.5379 - accuracy: 0.7372

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [242]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6482 - accuracy: 0.7306 - 228ms/epoch - 852us/step
Loss: 0.6482349634170532, Accuracy: 0.7306122183799744

In [245]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results

ValueError: in user code:

    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1820, in test_function  *
        return step_function(self, iterator)
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1804, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1792, in run_step  **
        outputs = model.test_step(data)
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/training.py", line 1756, in test_step
        y_pred = self(x, training=False)
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/Users/prsm/opt/anaconda3/envs/Dev/lib/python3.8/site-packages/keras/engine/input_spec.py", line 295, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_12" is incompatible with the layer: expected shape=(None, 10), found shape=(None, 116)

In [246]:
#Changed and matched the shape tried 116 / 64 / 10 "

In [247]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5633 - accuracy: 0.7306 - 155ms/epoch - 577us/step
Loss: 0.5633429884910583, Accuracy: 0.7306122183799744

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [248]:
# Set the file path for the second alternative model
file_path = Path("/Users/prsm/Desktop/Fintech/Projects/Mod13/Resources")

# Export your model to a HDF5 file
nn_A2.save(file_path)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: /Users/prsm/Desktop/Fintech/Projects/Mod13/Resources/assets

INFO:tensorflow:Assets written to: /Users/prsm/Desktop/Fintech/Projects/Mod13/Resources/assets